@font-face {
    font-family: 'thewitcher';
    src: url("./the-witcher.ttf");
}

body {
    margin: 0;

    font-family: 'Metamorphous', 'cursive', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
    width: 100%;
}

.btn {

}

/*  header
============================ */

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;

    padding: 25px;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'thewitcher';
    font-size: 24px;
}

.header__logo span {
    color: #981827;
}

.nav {
    display: flex;

    font-family: 'thewitcher';
    font-size: 18px;
    
}

.nav__link {
    margin-left: 20px;
    
    text-decoration: none;
    color: #000;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #981827;
}


/* intro ================================= */

.intro {
    padding: 140px 0;
}

.intro__inner {
    display: flex;
    flex-wrap: wrap;
}

.intro__content {
    width: 50%;
    flex-grow: 1;
}

.intro__title {

}

.intro__text {

}

.intro__btn {

}

.intro__img {
    flex-grow: 1;
    width: 50%;
    min-width: 445px;
}